#barraDeNavegaciónSuperior{
    height: 2.3rem;
}
.icons{
    width: 1.5rem;
    fill: white;
    padding-top: 0rem;
    padding-bottom: 0rem;
}
svg{
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 0.5rem;
    margin-right: 0.6rem;
}
.botonNavegacion{
height: 3.56rem;
border-style: solid;
margin-right: -1rem;
}
.botonRedes{
    height: 3.56rem;
    margin-right: -0.3rem;
}
.iconsRedes{
    width: 1.5rem;
    height: 1.5rem;
}

#barraDeNavegaciónInferior{
   padding: 0;
}